<launch>

  <!-- Set the lanelet2 map -->
  <include file="$(find lanelet2_interface_ros)/launch/set_lanelet_map.launch">
    <arg name="map_file_name" value="$(find lanelet2_maps)/res/mapping_example.osm" />
  </include>

  <!-- start rviz -->
  <node pkg="rviz" type="rviz" name="my_rviz" args="-d $(find lanelet_rviz_plugin_ros)/launch/sample_lanelet_viz.rviz" output="screen" />

</launch>
